<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
            <!--external css-->
            <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet" />

            <!-- Custom styles for this template -->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style-responsive.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
    <div>
    </div>
    <section id="container" >
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>Gestion d'attestations</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <!-- settings end -->
                    <!-- inbox dropdown start-->

                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar"  class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered">
                        <a href="profile.html">
                            <img src="{{ asset('img/transtu_logo.png') }}" class="img-circle" style="width: 100px !important" width="60">
                        </a>
                    </p>
                    <h5 class="centered">TRANSTU</h5>

                    <li class="mt">
                        <span><a href="{{ path('register') }}">ajout user</a> </span>
                        <span><a href="{{ path('personnel') }}">ajout personnel</a> </span>
                        <span><a href="{{ path('users') }}">liste users</a> </span>
                    </li>
                </ul>
            </div>
        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i> </h3>
                <div class="row mt">
                    <div class="col-md-12">
                        {% block body %}{% endblock %}
                    </div>
                </div>

            </section><! --/wrapper -->
        </section><!-- /MAIN CONTENT -->

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2014 - Alvarez.is
                <a href="blank.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

        {% block javascripts %}
            <!-- js placed at the end of the document so the pages load faster -->
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui-1.9.2.custom.min.js') }}"></script>
            <script src="{{ asset('js/jquery.ui.touch-punch.min.js') }}"></script>
            <script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>
            <script src="{{ asset('js/jquery.nicescroll.js') }}" type="text/javascript"></script>
           <script class="include" type="text/javascript" src="{{ asset('js/jquery.dcjqaccordion.2.7.js') }}"></script>


            <!--common script for all pages-->
            <script src="{{ asset('js/common-scripts.js') }}"></script>


        {% endblock %}
          <!--script for this page-->

        <script>
            //custom select box

            $(function(){
                //$('select.styled').customSelect();
            });

        </script>
    </body>
</html>
